*{
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
}
.chap-t,.p-tag {
    text-align: center;
    margin-top: 5px;
}
img{
 width: 500px;
 border: 2px solid gray;
 margin-left: 40px;
 margin-top: 20px;
   }
   h1 {
    margin:5px 2px ;
   }
   h2{
    margin: 5px 2px;
   }
   h4{
    text-align: center;
   }
   h3{
    margin-top: 10px;
    margin-bottom: 10px;
   }
   strong{
    margin-left: 5px;
   }
   ol{
    margin: 20px;
   }
   
   ul {
    margin: 10px;
   }